table {
  border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
  /*  text-align: center; */
}

button {
  background-color:white ;
  border: none;
  padding: 0px;
  font-size: 30px;
  width: 150px;
  height: 100px;
  margin:auto;
  display:block;
}
